{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Reset Password" %}</title>
    <link rel="stylesheet" href="{% static 'main/css/password_reset.css' %}">
</head>
<body>
    <div class="auth-container">

        <h1>{% trans "Reset Password" %}</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <label for="id_email">{% trans "Enter your email address:" %}</label>
            {{ form.email.errors }}
            {{ form.email }}

            <button type="submit">{% trans "Send Password Reset Email" %}</button>
        </form>

        <div class="auth-footer">
            <a href="{% url 'account_login' %}">{% trans "Back to Login" %}</a>
            <br>
            <a href="/user/profile/">{% trans "⬅ Back to profile" %}</a>
        </div>
    </div>
</body>
</html>
